#card {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    display: none;
    width: 30%;
    max-width: 300px;
}

#card-body {
    position: absolute;
}

#register-card-body {
    margin-top: 100px;
    width: 50%;
    background-color: #c4c4c49a;
}

#booking-card-body {
    margin-top: 100px;
    width: 50%;
    background-color: rgb(161, 161, 161);
}

#register-icon {
    width: 20px;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.container {
    width: auto;
    height: auto;
    margin-bottom: 50px;
}

.container .col-sm-4 {
    text-align: center;
}

.carousel-inner img {
    margin: auto;
}

li {
    margin-right: 10px;
    color: red;
}

a,
u {
    text-decoration: none;
}

#carouselExampleIndicators {
    z-index: -5;
}

#card_bookings {
    background-image: url("../Images/back_bookings.jpg");
}

#card_products {
    background-image: url("../Images/back_products.jpg");
}

#table_products {
    width: 100%;
    display: block;
}

thead {
    display: inline-block;
    width: auto;
}

#table_body {
    height: 250px;
    display: inline-block;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 40px;
}


/*
/* 
.vl {
  border-left: 3px solid red;
  height: 75px;
} */

.cstm-bg {
    background-color: #C4C4C4;
}

.cscard-bg {
    background-color: #c4c4c49a;
}

.navbar-hover:hover {
    background: #dbdbdb;
    border-radius: 20px;
}

.footer-hover:hover {
    background: #dbdbdb;
    border-radius: 20px;
}